<p id="notice"><%= notice %></p>

<p>
  <strong>Tname:</strong>
  <%= @tag.tname %>
</p>

<p>
  <strong>Num users:</strong>
  <%= @tag.num_users %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
