<%= form_for(biotop) do |f| %>
  <% if biotop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(biotop.errors.count, "error") %> prohibited this biotop from being saved:</h2>

      <ul>
      <% biotop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %>
    <%= f.number_field :event_id %>
  </div>

  <div class="field">
    <%= f.label :tag_id %>
    <%= f.number_field :tag_id %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
